.skillsets,
.languages {
	ul {
		@apply flex flex-wrap gap-2 my-2;

		li.skill,
		li.language {
			@apply p-1 rounded-lg bg-gray-700 shadow-lg;
	
		}

		li.skill.proficient {
			@apply bg-gradient-to-br from-purple-700 to-purple-950 font-bold;
		}
	
		li.skill.good {
			@apply bg-gradient-to-br from-green-700 to-green-950;
		}
	
		li.skill.decent {
			@apply bg-gradient-to-br from-blue-700 to-blue-950;
		}
	
		li.skill.basic {
			@apply bg-gradient-to-br from-gray-600 to-gray-700;
		}
	}
}
